#pageone {
    background-color: #0E83CD;
    color: white;
    text-align: center;
    font-family: "Bariol", Helvetica,sans-serif !important;
}

#pagetwo {
    background-color: #0E83CD;
    color: white;
    text-align: center;
    font: Bariol;
}

#pagethree {
    background-color: #0E83CD;
    color: white;
    text-align: center;
    font: Bariol;
}
#pagefour {
    background-color: #0E83CD;
    color: white;
    text-align: center;
    font: Bariol;
}


/*#geocomplete { width: 200px}*/

.map_canvas {
    width: 90%;
    height: 200px;
    /*margin: 10px 20px 10px 0;*/
    margin:0px auto; display:inline-block
}

#checkboxes {
    width: 60%;
    margin:0 auto;

}

#resultTable {
    margin: 0 auto;

    width: 80%;
    border: 1px solid white;
    font-size: 30px;
    table-layout: fixed;

}

#wrapper {
    width: 100%;

}

#keywords {
    width: 80%;
    border: 1px solid white;
    margin: 0 auto;



}

a { /* or whatever your class */
    text-decoration: none;
}

th{
    font-size: 20px;
}

td {
    padding: 5px;
    text-align: center;
}


/*@font-face {*/
    /*font-family: Bariol;*/
    /*src: url("//fonts/Bariol_Regular.otf") format("opentype");*/
/*}*/

@font-face{font-family:"Bariol";src:url(fonts/Bariol_Regular.otf) format('opentype');font-weight:100;font-style:normal}
@font-face{font-family:"Bariol";src:url(fonts/Bariol_Regular.otf) format('opentype');font-weight:100;font-style:italic}